<div class="jobs-filters jobs-filters-resp" ng-show="Job.showFilter">
  <div class="container">
    <h3 class="jobs-filters-title">Filtros</h3>
    <div class="row">

      <div class="col-xs-12 col-md-5">
        <div class="form-group">
          <select class="form-control form-control-primary" id="jobs-filters-loooking-for" name="jobs-filters-experience">
            <option value="">Tipo de trabajo</option>
            <option value="1">Práctica</option>
            <option value="2">Memoria</option>
            <option value="3">Trabajo</option>
          </select>
        </div>
      </div>

      <!-- <div class="col-xs-12 col-md-5">
        <div class="form-group">
          <select class="form-control form-control-primary" id="jobs-filters-experience" name="jobs-filters-experience">
            <option value="">Experiencia</option>
            <option value="1">Sin experiencia</option>
            <option value="2">1 año</option>
            <option value="3">2 años</option>
          </select>
        </div>
      </div> -->

      <div class="col-xs-12 col-md-5">
        <div class="form-group">
          <select class="form-control form-control-primary" id="jobs-filters-career-status" name="jobs-filters-career-status">
            <option value="">Tipo de postulante</option>
            <option value="1">Estudiante</option>
            <option value="2">Egresado</option>
            <option value="3">Titulado</option>
          </select>
        </div>
      </div>

      <div class="col-xs-12 col-md-10">
        <label>Selecciona Trabajo(s)</label>
        <select multiple id="career-filter" class="filter-autocomplete" ng-model="Job.careersFilter">
          <option value="{{career.id}}" ng-repeat="career in Job.dataFilters.careers">{{career.name}}</option>
        </select>
      </div>

      <div class="col-xs-12 col-md-2">
        <div class="form-group">
          <a ng-click="Job.jobFilter();" href="" class="btn btn-secondary">Filtrar</a>
        </div>
      </div>
    </div>
  </div>
</div>