<div class="container category-container">
  <ul class="jobs-navigation" ng-if="UserService.isUser()">
    <li ng-class="{'is-active': Job.currentState == 'jobs'}" class="jobs-navigation-item">
      <a ui-sref="jobs" href="" class="jobs-navigation-link" title="Todos los trabajos">
        <i class="fa fa-th fa-lg"></i> <span class="hidden-sm-down">Todos</span> ({{JobService.countersAll()}})
      </a>
    </li>
    <li ng-class="{'is-active': Job.currentState == 'job-applications'}" class="jobs-navigation-item">
      <a ui-sref="job-applications" href="" class="jobs-navigation-link" title="Trabajos postulados">
        <i class="fa fa-users fa-lg"></i> <span class="hidden-sm-down">Postulados</span> ({{JobService.apply_jobs()}})
      </a>
    </li>
    <li ng-class="{'is-active': Job.currentState == 'job-favorites'}" class="jobs-navigation-item">
      <a ui-sref="job-favorites" href="" class="jobs-navigation-link" title="Trabajos favoritos">
        <i class="fa fa-heart fa-lg"></i> <span class="hidden-sm-down">Favoritos</span> ({{JobService.fav_jobs()}})
      </a>
    </li>
    <li ng-class="{'is-active': Job.currentState == 'job-removed'}" class="jobs-navigation-item">
      <a ui-sref="job-removed" href="" class="jobs-navigation-link" title="Trabajos descartados">
        <i class="fa fa-trash fa-lg"></i> <span class="hidden-sm-down">Descartados</span> ({{JobService.removed_jobs()}})
      </a>
    </li>
    <li class="jobs-navigation-item pull-xs-right">
      <a href="" ng-click="Job.toggleFilter();" class="jobs-navigation-link">Filtra tu búsqueda <i class="fa fa-sliders fa-lg"></i>
      </a>
    </li>
  </ul>
</div>