<section class="user-form-message" ng-controller="JobShow as Job">
  <div class="u-vertical-center">
    <div class="container">
      <article class="text-xs-center">
        <svg class="raven-icon" xmlns="http://www.w3.org/2000/svg" width="100" height="100">
          <path d="M86.986 75.206H79.3L89.303 65.2c1.707-1.708 1.707-4.477 0-6.183L40.773 10.49c-.853-.854-1.972-1.28-3.09-1.28-1.12 0-2.238.427-3.093 1.28L6.865 38.22c-.82.82-1.28 1.932-1.28 3.09 0 1.16.46 2.273 1.28 3.093L37.67 75.205l-6.705.002c-3.852 0-7.004 3.15-7.004 7.002 0 3.85 3.152 7 7.005 7h56.022c3.85 0 7.002-3.15 7.002-7-.002-3.853-3.154-7.004-7.004-7.004zm-43.137-.004L9.954 41.312l27.728-27.73L86.21 62.11 73.114 75.205l-8.516 8.424h-12.32l-8.43-8.428zm-12.886 9.636c-1.426 0-2.632-1.204-2.632-2.63 0-1.425 1.206-2.63 2.633-2.63l11.074-.002 5.26 5.262H30.965zm56.022 0h-17.39l5.317-5.26h12.074c1.426 0 2.63 1.204 2.63 2.63s-1.206 2.63-2.63 2.63z"/>
          <path d="M69.594 68.823c.213.213.493.32.773.32s.56-.107.773-.32l5.944-5.94c.206-.205.32-.482.32-.773 0-.29-.115-.568-.32-.773l-5.944-5.942c-.427-.427-1.118-.427-1.546 0l-5.94 5.942c-.206.206-.32.483-.32.773 0 .29.114.568.32.773l5.94 5.94zM45.61 68.156c.28 0 .56-.107.772-.32.427-.427.427-1.118 0-1.546L20.634 40.54c-.427-.427-1.118-.427-1.546 0-.427.427-.427 1.118 0 1.546l25.748 25.75c.213.213.493.32.773.32zM40.216 55.295c.213.213.493.32.773.32s.56-.107.772-.32c.427-.427.427-1.118 0-1.546L24.595 36.58c-.427-.428-1.118-.428-1.546 0-.428.426-.428 1.118 0 1.546l17.166 17.17z"/>
        </svg>
        <h3 ng-if="UserService.getUserData().resume != null"  class="font-weight-bold m-b-3">Tu postulación se ha enviado exitosamente</h3>
        <h3 ng-if="UserService.getUserData().resume == null"  class="font-weight-bold m-b-3">Tu postulación estará pendiente hasta que subas un CV</h3>
        <a href="" class="btn btn-secondary" ng-click="goToJobs();">Volver a trabajos</a>
        <a href="" class="btn btn-secondary" ng-if="Job.job.title != null" ng-click="reloadPage();"> Volver al anuncio </a>
      </article>
    </div>
  </div>
</section>
