<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="JobShow as Job" ng-init="Job.getJobApplication();">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title text-xs-center">Renta deseada</h1>
    <form ng-submit="Job.setJobSalary()">
      <div class="row user-form-element">
        <div class="col-md-4 offset-md-4">
          <fieldset class="form-group text-xs-center">
            <label class="user-form-label-primary">¿Cuál es tu expectativa de renta?</label>
            <input class="form-control" type="text" ng-model="Job.minimum_salary_expected" id="renta" required placeholder="0">
          </fieldset>
        </div>
      </div>
      <div class="form-group clearfix">
        <button ng-if="UserService.getShowSalaryBackButton() == 1" ng-click=" ModalService.open({}, 'lg', 'components/users/new_user_ability.html');" type="button" class="btn btn-outline-primary pull-xs-left">Anterior</button>
        <button class="btn btn-outline-primary pull-xs-right" ng-if="Job.job.total_question > 0">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
        <button class="btn btn-outline-primary pull-xs-right" ng-if="Job.job.total_question == 0">Finalizar postulación</button>
      </div>
    </form>
  </div>
</section>
<script type="text/javascript">
</script>

