<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box"  ng-controller="JobShow as Job" >
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title text-xs-center">Responde las siguientes preguntas</h1>
    <form ng-init="Job.getJobQuestions();" ng-submit="Job.sendAnswers();">
      <div class="user-form-element">
        <article class="m-b-3 text-xs-center" ng-repeat="question in Job.questions track by $index">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <p class="user-form-label-primary" data-id="{{question.id}}">{{question.content}}</p>
              <textarea class="form-control" ng-model="Job.answers[$index].value"></textarea>
            </div>
          </div>
        </article>
      </div>
      <div class="form-group clearfix">
        <button type="button" ng-click="Job.editApplication();" class="btn btn-outline-primary pull-xs-left"><i class="fa fa-angle-left fa-lg"></i> Anterior</button>
        <button class="btn btn-outline-primary pull-xs-right">{{Job.nextButtonText()}} <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>
