<header class="jobs-header">
  <!-- Subheader-->
  <ng-include src="'components/jobs/_jobs-subheaders.html'"></ng-include>
  <!-- filt3r-->
  <ng-include src="'components/jobs/_jobs-filters.html'"></ng-include>
</header>
<section class="jobs-box">

  <div class="container" ng-if="UserService.isUser() && UserService.getUserData().resume == null && Job.jobsLoaded == true">
    <div class="">
      <div class="col-md-12">
        <div class="alert alert-cv-2" role=""> Recuerda que debes 
          <a href="" class="color-vinculo text-center" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_cv.html')"> subir tu CV</a> para poder postular.
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-if="Job.jobs.length == 0 && Job.jobsLoaded == false">
    <article class="text-xs-center">
      <i class="fa fa-spinner fa-pulse fa-spin fa-3x fa-fw jobs-loading"></i>
      <p>Cargando...</p>
      <span class="sr-only">Loading...</span>
    </article>
  </div>

  <div class="container" ng-if="Job.jobs.length == 0 && Job.jobsLoaded == true">
    <article class="text-xs-center">
      <p>No hay procesos en esta categoria.</p>
    </article>
  </div>

  <div class="container" ng-if="Job.jobs.length > 0" ng-click="Job.clickJobCard();">
    <article class="job-card" dir-paginate="job in Job.jobs | itemsPerPage: Job.pageSize" total-items="Job.totalJobs" current-page="Job.currentPage">
      <header class="job-card-header" data-src="https://firstjob.me/assets/companies/service-match-597901a74b0b62e49754041d86234712.jpg">
        <div class="job-card-image" data-src="https://firstjob.me//uploads/company/avatar/2/199X112.jpg" title="{{job.title}}">
          <span data-remove-id="{{job.id}}" class="job-tag-status job-tag-descartado tags-job-card" data-show="{{job.removed}}">Descartado</span>
          <span data-favorite-id="{{job.id}}" class="job-tag-status2 job-tag-favorito tags-job-card2" data-show="{{job.favorite}}">Favorito  </span>
        </div>

        
        <div class="job-card-heading animated fadeIn">
          <h2 class="job-card-title">{{job.title}}</h2>
          <div class="job-card-tags">
            <span class="tag tag-info tag-pill">{{job.looking_for}}</span>
          </div>
        </div>
      </header>
      <div class="job-card-block animated fadeIn">
        <div class="job-card-info">
          <div class="job-card-company">
            <h3 class="job-card-company-name">{{job.company}}</h3>
            <p class="small text-muted m-b-0">{{job.location}}</p>
          </div>
          <div class="job-card-date text-xs-right">
            <time class="text-muted">{{job.created_at | date:'dd/MM/yyyy'}}</time>
          </div>
        </div>
        <p class="job-card-text">{{job.description.substring(0, 150)}} ... </p>
      </div>
      <footer class="job-card-footer text-xs-center" ng-show="Job.currentState != 'job-applications'">
        <a remove ng-if="UserService.isUser()" jobid="job.id" href="" removesource="Job.source" isremoved="job.removed" class="job-card-footer-item job-card-icon" data-appear="hover"></a>
        <a showmore jobsource="'all-jobs'" jobid="job.id" buttontype="'show-more'" href="/jobs/{{job.slug}}" class="job-card-footer-item btn btn-primary">Ver más</a>
        <a favorite ng-if="UserService.isUser()" href="" jobid="job.id" favsource="Job.source" isfavorite="job.favorite" class="job-card-footer-item job-card-icon" data-appear="hover"></a>
      </footer>
      <div class="postulados-buttons" ng-show="Job.currentState == 'job-applications'">
        <a ng-click="ModalService.open({job_id: job.id, job_title: job.title}, 'lg', 'components/jobs/modal-apply.html')" href="" class="job-card-footer-item btn btn-primary btn-anular">Anular Postulacion</a>
        <a href="/jobs/{{job.slug}}" class="job-card-footer-item btn btn-primary btn-ver">Ver Postulacion</a>
      </div>
    </article>
  </div>

  <div class="container" ng-if="Job.jobs.length > 0">
    <dir-pagination-controls boundary-links="true" on-page-change="Job.pageChanged(newPageNumber)" template-url="components/jobs/dirPagination.tpl.html"></dir-pagination-controls>
  </div>

</section>