<section class="job-details format-back-jobs">
	<div class="container color-back">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="back-jobs">
					<div class="col-xs-5 col-md-6 pull-left">
						<a ui-sref="jobs" class="small color-back"><i class="fa fa-chevron-circle-left"></i> Volver a todas las Ofertas</a>
					</div>
					<div class="col-xs-7 col-md-6 pull-right">
						<div class=" pull-right alert-cv alert alert2" role="alert" ng-if="UserService.isUser() && UserService.getUserData().resume == null">
							<small>Recuerda que debes <a href="" class="color-vinculo text-center" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_cv.html')"> subir tu CV</a></small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="job-details-box wow fadeIn">
			<header class="job-header">
				<div class="row">
					<div class="job-column-right push-xl-3 u-no-gutter">
						<article class="job-cover" data-src="https://firstjob.me/assets/bg_new-e2c7819eb09e90e249e66d9adfd423b2.png">
							<span ng-show="Job.job" class="job-tag-status job-tag-descartado" data-show="{{Job.job.removed}}" data-remove-id="{{Job.job.id}}">Descartado</span>
							<span ng-show="Job.job" class="job-tag-status job-tag-favorito" data-show="{{Job.job.favorite}}" data-favorite-id="{{Job.job.id}}">Favorito</span>
							<div class="job-cover-content">
								<div class="tag-move">
									<h1 class="job-title tag-move">{{Job.job.title}}</h1>
								</div>

								<span class="job-tag job-tag-info">Trabajo</span>								
								
								<nav class="job-info-box">
									<ul class="job-info">
										<li class="job-info-item  display-resp"><i class="fa fa-calendar fa-lg"></i> 15.06.06</li>
										<li ng-class="{'no-visible': !UserService.isUser()}" class="job-info-item  display-resp hidden-sm-up"><i class="fa fa-black-tie fa-lg"></i> 03 Vacantes</li>
										<li class="job-info-item display-resp"> </li>
										<li class="job-info-item display-resp"> </li>
										<li class="job-info-item display-resp"> </li>
										<li ng-class="{'no-visible': !UserService.isUser()}" class="job-info-item display-resp hidden-sm-up"><i class="fa fa-clock-o fa-lg"></i> Full Time</li>
										<li ng-class="{'no-visible': !UserService.isUser()}" class="job-info-item display-resp hidden-sm-up"><i class="fa fa-dollar fa-lg"></i> 800.000 CLP</li>
										<li ng-if="Job.apply == false" class="job-info-item">
											
										</li>
										<li ng-if="Job.apply == true" class="job-info-item">
											<a href="" ng-click="Job.editApplication();" class="job-info-button --secondary">Editar</a>
										</li>
										<li ng-if="Job.apply == false" class="job-info-item">
											<a href="" ng-click="Job.applyJob(Job.job.id);" class="job-info-button --primary">Postular</a>
										</li>
										<li ng-if="Job.apply == true" class="job-info-item">
											<a ng-click="ModalService.open({}, 'lg', 'components/jobs/modal-apply.html')" href="" class="job-info-button --primary">Anular</a>
										</li>
									</ul>
								</nav>
							</div>
						</article>
					</div>

					<div class="job-column-left pull-xl-9 u-no-gutter">
						<article class="job-company">
							<div class="job-company-content">
								<div class="job-company-info">
									<h3 class="job-company-logo" data-src="{{Job.company.avatar.url}}"></h3>
									<h2 class="job-company-title">{{Job.company.name}}</h2>
									<p class="job-company-text">{{Job.job.location}}</p>
								</div>
								<div class="job-company-rank" ng-show="Job.company.bfje">
									<div class="job-company-rank-item">
										<img src="http://www.bestfirstjobemployers.com/assets/brand-logo-7da3ae759fe00acc62fb70aa96f6715a30df1e256f7924316d4f1c21602f0c79.png" alt="Best FirstJob Employers" class="job-company-rank-image">
									</div>
									<div class="job-company-rank-item">
										<h4 class="job-company-rank-position"><span >{{Job.company.bfje}}º</span> <span>Lugar</span></h4>
									</div>
								</div>
								<div class="job-company-navbar">
									<a href="/company/{{job.company_id}}" class="job-company-button">Ver perfil de esta empresa</a>
								</div>
							</div>
						</article>
					</div>
				</div>
			</header>

			<div class="job-buttons">
				<p class="text-xs-right buttons-share-job">
					<!--<a href="#" class="fa fa-undo fa-lg buttons-share-job"></a>
					<a href="#" class="fa fa-trash fa-lg buttons-share-job" data-asd="{{Job.job.favorite}}" data-id="{{Job.job.id}}"></a> -->
					<a remove ng-if="UserService.isUser() && Job.job" jobid="Job.job.id" href="" removesource="Job.source" isremoved="Job.job.removed" class="buttons-share-job"></a>
					<a ng-if="UserService.isUser() && Job.job"  href="" favorite jobid="Job.job.id" favsource="'show-job'" isfavorite="Job.job.favorite" class="buttons-share-job"></a>
				</p>
			</div>

			<article class="job-content">
				<div class="row">
					<div class="job-column-left">
						<h3 class="job-content-title">Descripción del trabajo</h3>
					</div>
					<div class="job-column-right">
						<p class="job-content-text">{{Job.job.description}}</p>
					</div>
				</div>
				<div class="job-column-footer">
					<p class="text-xs-right">
						<div class="row">
							<button class="btn btn-secondary pull-xs-right wow share fadeIn" ng-click="Job.shareButtons()" id="compartir">Compartir <i class="fa fa-share-alt fa-lg"></i></button><br><br>
						</div>
						<div class="row">
						<div class="pull-xs-right share-box animated fadeIn" ng-show="Job.showShare">
							<a href="" class="btn btn-secondary2 share-center fb-share" ng-click="Job.shareFacebook();">
								<i class="fa fa-facebook"></i> Facebook</a>
							<a href="" class="btn btn-secondary2 share-center lk-share" ng-click="Job.shareLinkedin();">
								<i class="fa fa-linkedin"></i> Linkedin</a>
						</div>
						</div>
					</p>
				</div>
			</article>
			<article class="job-content">
				<div class="row wow fadeIn">
					<div class="job-column-left" ng-show="Job.other_jobs_from_company.length">
						<h3 class="job-content-title">Más cargos de la empresa</h3>
					</div>
					<div class="job-column-right u-no-gutter">
						<article class="job-card job-card-lite" ng-repeat="jobOther in Job.other_jobs_from_company" >
							<header class="job-card-header">
								<div class="job-card-image" data-src="https://firstjob.me/uploads/company/avatar/2/199X112.jpg" title="{{jobOther.title}}"></div>
								<div class="job-card-heading">
									<h2 class="job-card-title">{{jobOther.title}}</h2>
									<div class="job-card-tags">
										<span class="tag tag-info tag-pill top-10">{{jobOther.looking_for}}</span>
									</div>
								</div>
							</header>
							<div class="job-card-block">
								<div class="job-card-info">
									<div class="job-card-company">
										<h3 class="job-card-company-name">{{job.company}}</h3>
										<!-- <p class="small text-muted m-b-0">Santiago, RM, Chile</p> -->
									</div>
									<!-- <div class="job-card-date text-xs-right">
										<time class="text-muted">25.06.05</time>
									</div> -->
								</div>
								<p class="job-card-text">{{jobOther.description.substring(0, 120)}} ... </p>
							</div>
							<footer class="job-card-footer text-xs-center">
								<a remove ng-if="UserService.isUser()" jobid="jobOther.id" href="" removesource="'more-jobs-company'" class="job-card-footer-item job-card-icon" data-appear="hover"></a>
								<a showmore jobsource="'similar'" jobid="jobOther.id" buttontype="'show-more'" href="/jobs/{{jobOther.slug}}" class="job-card-footer-item btn btn-primary">Ver más</a>
								<a favorite ng-if="UserService.isUser()" href="" jobid="jobOther.id" favsource="'more-jobs-company'" isfavorite="false" class="job-card-footer-item job-card-icon" data-appear="hover"></a>
							</footer>
						</article>
						<div class="job-column-footer">
							<p class="text-xs-center">
								<a ng-show="Job.other_jobs_company.length>3" showmore buttontype="'get-more'" jobsource="'company'" jobid="Job.job.id" href="" class="btn btn-secondary">Mostrar más</a>
							</p>
						</div>
					</div>
				</div>
			</article>
			<article class="job-content">
				<div class="row">
					<div class="job-column-left ng-hide">
						<h3 class="job-content-title">Otros cargos similares</h3>
					</div>
					<div class="job-column-right u-no-gutter ng-hide">
						<article class="job-card job-card-lite">
							<header class="job-card-header" data-src="https://firstjob.me/assets/companies/service-match-597901a74b0b62e49754041d86234712.jpg">
								<div class="job-card-image" data-src="https://firstjob.me//uploads/company/avatar/2/199X112.jpg" title="{{Job.job.title}}"></div>
								<div class="job-card-heading">
									<h2 class="job-card-title">{{Job.job.title}}</h2>
									<div class="job-card-tags">
										<span class="tag tag-info tag-pill">Trabajo</span>
									</div>
								</div>
							</header>
							<div class="job-card-block">
								<div class="job-card-info">
									<div class="job-card-company">
										<h3 class="job-card-company-name">{{job.company}}</h3>
										<p class="small text-muted m-b-0">Santiago, RM, Chile</p>
									</div>
									<div class="job-card-date text-xs-right">
										<time class="text-muted">25.06.05</time>
									</div>
								</div>
								<p class="job-card-text">{{Job.job.description.substring(0, 120)}} ... </p>
							</div>
							<footer class="job-card-footer text-xs-center">
								<a href="" class="job-card-footer-item job-card-icon" data-appear="hover">
									<i class="fa fa-trash fa-lg button-color"></i>
								</a>
								<a href="/jobs/{{job.id}}" class="job-card-footer-item btn btn-primary">Ver más</a>
								<a href="" class="job-card-footer-item job-card-icon" data-appear="hover">
									<i class="fa fa-heart fa-lg button-color"></i>
								</a>
							</footer>
						</article>
						<article class="job-card job-card-lite">
							<header class="job-card-header" data-src="https://firstjob.me/assets/companies/service-match-597901a74b0b62e49754041d86234712.jpg">
								<div class="job-card-image" data-src="https://firstjob.me//uploads/company/avatar/2/199X112.jpg" title="{{job.title}}"></div>
								<div class="job-card-heading">
									<h2 class="job-card-title">{{Job.job.title}}</h2>
									<div class="job-card-tags">
										<span class="tag tag-info tag-pill">Trabajo</span>
									</div>
								</div>
							</header>
							<div class="job-card-block">
								<div class="job-card-info">
									<div class="job-card-company">
										<h3 class="job-card-company-name">{{job.company}}</h3>
										<p class="small text-muted m-b-0">Santiago, RM, Chile</p>
									</div>
									<div class="job-card-date text-xs-right">
										<time class="text-muted">25.06.05</time>
									</div>
								</div>
								<p class="job-card-text">{{Job.job.description.substring(0, 120)}} ... </p>
							</div>
							<footer class="job-card-footer text-xs-center">
								<a href="" class="job-card-footer-item job-card-icon" data-appear="hover">
									<svg aria-hidden="true" class="raven-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
										<path d="M10 2H8c0-0.55-0.45-1-1-1H4c-0.55 0-1 0.45-1 1H1c-0.55 0-1 0.45-1 1v1c0 0.55 0.45 1 1 1v9c0 0.55 0.45 1 1 1h7c0.55 0 1-0.45 1-1V5c0.55 0 1-0.45 1-1v-1c0-0.55-0.45-1-1-1z m-1 12H2V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9z m1-10H1v-1h9v1z"></path>
									</svg>
								</a>
								<a href="/jobs/{{job.id}}" class="job-card-footer-item btn btn-primary">Ver más</a>
								<a href="" class="job-card-footer-item job-card-icon" data-appear="hover">
									<svg aria-hidden="true" class="raven-icon" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14">
										<path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path>
									</svg>
								</a>
							</footer>
						</article>
						<article class="job-card job-card-lite">
							<header class="job-card-header" data-src="https://firstjob.me/assets/companies/service-match-597901a74b0b62e49754041d86234712.jpg">
								<div class="job-card-image" data-src="https://firstjob.me//uploads/company/avatar/2/199X112.jpg" title="{{job.title}}"></div>
								<div class="job-card-heading">
									<h2 class="job-card-title">{{Job.job.title}}</h2>
									<div class="job-card-tags">
										<span class="tag tag-info tag-pill">Trabajo</span>
									</div>
								</div>
							</header>
							<div class="job-card-block">
								<div class="job-card-info">
									<div class="job-card-company">
										<h3 class="job-card-company-name">{{job.company}}</h3>
										<p class="small text-muted m-b-0">Santiago, RM, Chile</p>
									</div>
									<div class="job-card-date text-xs-right">
										<time class="text-muted">25.06.05</time>
									</div>
								</div>
								<p class="job-card-text">{{Job.job.description.substring(0, 120)}}... </p>
							</div>
							<footer class="job-card-footer text-xs-center">
								<a href="" class="job-card-footer-item job-card-icon" data-appear="hover">
									<svg aria-hidden="true" class="raven-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
										<path d="M10 2H8c0-0.55-0.45-1-1-1H4c-0.55 0-1 0.45-1 1H1c-0.55 0-1 0.45-1 1v1c0 0.55 0.45 1 1 1v9c0 0.55 0.45 1 1 1h7c0.55 0 1-0.45 1-1V5c0.55 0 1-0.45 1-1v-1c0-0.55-0.45-1-1-1z m-1 12H2V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9z m1-10H1v-1h9v1z"></path>
									</svg>
								</a>
								<a href="/jobs/{{job.id}}" class="job-card-footer-item btn btn-primary">Ver más</a>
								<a href="" class="job-card-footer-item job-card-icon" data-appear="hover">
									<svg aria-hidden="true" class="raven-icon" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14">
										<path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path>
									</svg>
								</a>
							</footer>
						</article>
						<div class="job-column-footer">
							<p class="text-xs-center">
								<a showmore buttontype="'get-more'" jobsource="'similar'" jobid="Job.job.id" href="" class="btn btn-secondary">Mostrar más</a>
							</p>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>