.job-details {
  padding-top: .5rem;
  padding-bottom: 4.375rem;
  background: #d7d7dd;
}

.job-details-box {
  background: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.125);
  overflow: hidden;
}

.job-column-left {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

.job-column-right {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

@media (min-width: 1200px) {
  .job-column-left {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }
  .job-column-right {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }
}

.job-column-footer {
  width: 100%;
  float: left;
  font-family: 'Lato', sans-serif;
}

.job-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.job-header::after {
  content: "";
  display: table;
  clear: both;
}

.job-cover {
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.job-cover:before {
  content: "";
  position: absolute;
  bottom: 4.375rem;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -1.875rem 4.375rem -0.625rem rgba(0, 0, 0, 0.5);
  z-index: 0;
}

@media (min-width: 768px) {
  .job-cover {
    min-height: 24.375rem;
    background-position: left center;
  }
  .job-cover:before {
    box-shadow: inset 0 -11.25rem 5rem -1.875rem rgba(0, 0, 0, 0.5);
  }
}

.job-cover-content {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 1.875rem;
  padding-right: 0.9375rem;
  padding-left: 2.5rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .job-cover-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.job-title {
  margin-bottom: 1.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  text-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

@media (min-width: 768px) {
  .job-title {
    font-size: 1.875rem;
  }
}

.job-tag {
  border-radius: 3.125rem;
  padding: 0.1rem 0.9rem;
  font-size: 0.75rem;
  display: table-cell;
}

.job-tag-info {
  background: #1eb5e7;
  color: #fff;
}

.tag-move{
  display: inline;
  vertical-align: middle;
}

.job-tag-status {
  padding-top: 0.36rem;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 0.75rem;
}

.job-tag-favorito {
  background: #E7C71E;
  color: #fff;
}

.job-tag-descartado {
  background: #E73C1E;
  color: #fff;
}

.job-info-box {
  margin-top: 1.875rem;
  margin-left: -2.5rem;
  margin-right: -0.9375rem;
  background: #d7d7dd;
}

@media (min-width: 768px) {
  .job-info {
    display: table;
    width: 100%;
    height: 70px;
    table-layout: fixed;
  }
}

.job-info-item {
  display: block;
}

/*.job-info-item:not(:last-child) {
  display: none;
}
*/

/*.display-resp{
  display: ;
  }*/

  @media (max-width: 768px) {
    .display-resp{
      display: none;
    }
  }

  @media (min-width: 768px) {
    .job-info-item {
      display: table-cell;
      color: #646576;
      font-size: 0.75rem;
      font-weight: normal;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
    }
    .job-info-item:not(:last-child) {
      display: table-cell;
    }
  }

  .job-info-button {
    display: block;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
  }

  @media (min-width: 768px) {
    .job-info-button {
      max-width: 10rem;
    }
  }

  .job-info-button.--primary {
    background: #FF715A;
    color: #fff;
  }

  .job-info-button.--primary:link {
    color: #fff;
  }

  .job-info-button.--primary:visited {
    color: #f2f2f2;
  }

  .job-info-button.--primary:hover, .job-info-button.--primary:active, .job-info-button.--primary:focus {
    color: #fff;
  }

  .job-info-button.--primary:hover, .job-info-button.--primary:focus {
    background: #ff4527;
  }

  .job-info-button.--secondary {
    background: #1eb5e7;
    color: #fff;
  }

  .job-info-button.--secondary:link {
    color: #fff;
  }

  .job-info-button.--secondary:visited {
    color: #f2f2f2;
  }

  .job-info-button.--secondary:hover, .job-info-button.--secondary:active, .job-info-button.--secondary:focus {
    color: #fff;
  }

  .job-info-button.--secondary:hover, .job-info-button.--secondary:focus {
    background: #1494be;
  }

  .job-company {
    display: table;
    width: 100%;
  }

  @media (min-width: 1200px) {
    .job-company {
      height: 24.375rem;
    }
  }

  .job-company-content::after {
    content: "";
    display: table;
    clear: both;
  }

  @media (min-width: 1200px) {
    .job-company-content {
      display: table-cell;
      vertical-align: bottom;
    }
  }

  .job-company-info {
    width: 50%;
    float: left;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    text-align: center;
  }

  @media (min-width: 768px) {
    .job-company-info {
      padding-bottom: 0;
    }
  }

  @media (min-width: 1200px) {
    .job-company-info {
      width: 100%;
    }
  }

  .job-company-logo {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    margin-bottom: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.175);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 768px) {
    .job-company-logo {
      width: 6.875rem;
      height: 6.875rem;
    }
  }

  @media (min-width: 1200px) {
    .job-company-logo {
      margin-bottom: 1.875rem;
    }
  }

  .job-company-title {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .job-company-text {
    font-size: 0.875rem;
    font-style: italic;
  }

  .job-company-rank {
    float: left;
    width: 50%;
    margin-top: 1.25rem;
    height: 4.375rem;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    .job-company-rank {
      margin-top: 4.375rem;
    }
  }

  @media (min-width: 1200px) {
    .job-company-rank {
      width: 100%;
      margin-top: 0;
      background: #ededed;
    }
  }

  .job-company-rank-item {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    text-align: center;
  }

  @media (min-width: 768px) {
    .job-company-rank-item {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .job-company-rank-position {
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
  }

  .job-company-rank-position > :first-child {
    color: #c62750;
  }

  .job-company-rank-position > :last-child {
    color: #333;
  }

  .job-company-rank-image {
    width: auto;
    height: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .job-company-navbar {
    width: 100%;
    display: block;
    float: left;
    padding-top: 0.625rem;
    text-align: center;
  }

  @media (min-width: 1200px) {
    .job-company-navbar {
      padding-top: 0;
      background: #D8D8DE;
    }
  }

  .job-company-button {
    display: inline-block;
    border-radius: 50px;
    padding: 12px 20px;
    background: #3e3d68;
    font-size: 0.875rem;
    text-align: center;
    color: #fff;
  }

  .job-company-button:link {
    color: #fff;
  }

  .job-company-button:visited {
    color: #f2f2f2;
  }

  .job-company-button:hover, .job-company-button:active, .job-company-button:focus {
    color: #fff;
  }

  .job-company-button:hover, .job-company-button:focus {
    background: #2b2a48;
  }

  @media (min-width: 1200px) {
    .job-company-button {
      width: 100%;
      display: block;
      height: 70px;
      padding: 0;
      border-radius: 0;
      line-height: 70px;
    }
  }

  .job-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5rem;
  }

  .job-content::after {
    content: "";
    display: table;
    clear: both;
  }

  .job-content:first-of-type {
    padding-top: 1rem;
  }

  .job-content-title {
    position: relative;
    margin-bottom: 1.25rem;
    padding-left: 1.875rem;
    padding-right: 3.125rem;
    padding-bottom: 0.3125rem;
    font-size: 1rem;
    font-weight: bold;
    color: #4b4a66;
    text-align: center;
    text-transform: uppercase;
  }

  .job-content-title:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.1875rem;
    width: 7.5rem;
    height: 0.1875rem;
    border-radius: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    background: #1eb5e7;
  }

  @media (min-width: 768px) {
    .job-content-title {
      padding-bottom: 0.625rem;
    }
  }

  @media (min-width: 1200px) {
    .job-content-title {
      text-align: right;
    }
    .job-content-title:after {
      width: 3.125rem;
      right: 3.125rem;
      left: auto;
    }
  }

  .job-content-text {
    font-size: 0.875rem;
    text-align: justify;
    text-justify: inter-word;
  }

  .job-buttons {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 0.5rem;
    padding-top: 1.9em;
  }
  .buttons-share-job {
    margin-right: 5px;
    margin-left: 5px;
    color: #343458;

  }

  a .buttons-share-job {

    color: #343458;
  }

  .phone-margin{
    padding-left: 1px;
  }

  .color-back{
    text-decoration: none;
  }

  a.color-back{
    color: #3e3d68;
  }

  a.color-back:hover{
    color: #FF715A;
    text-decoration: underline;
  }

  a.color-back:focus{
    color: #FF715A;
    text-decoration: underline;
  }

  .back-jobs{
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .format-back-jobs{
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .alert-cv{
    display: inline;
    height: 27px;
    vertical-align: middle;
    padding: 0px 7px;
    /*margin-left: 300px; */
  }

  .alert2{
    background-color: #FF715A;
    border-color: #FF715A;
    color: #FFFFFF;

  }
  .color-vinculo{
    color: #2b2a48;
  }

  .no-visible{
    visibility: hidden;
  }

  .share-box{
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background: #eee;
    border-radius: 5px;
    margin-right: 2%;
  }

  .wow.share{
    margin-top: 5%;
    margin-right:2%;
  }

  .share-center{
    margin: auto;
  }

  .fb-share{
    color: #fff;
    background-color: #3A5795;
    border-color: #3A5795; 
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 15px;
  }

  .lk-share{
    color: #fff;
    background-color: #0274B3;
    border-color: #0274B3;
    margin-top: 15px;
  }

  .btn-secondary2:hover {
    color: #fff;
    background-color: #FF715A;
    border-color: #FF715A;
  }

  a:active , .btn-secondary2:focus{
    color:#fff;
  }

  @media (max-width: 768px) {
    .job-content {
      margin-left: 8px;
      margin-right: 8px;
    }
  }