<div ng-controller="JobShow as Job">
  <div class="modal-header">
  <button type="button" class="close" closemodal data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Anular postulación</h3>
  </div>
  <div class="modal-body">

    <p>¿Estás seguro que deseas anular tu postulación?</p>
    <p>Ten en cuenta que bla bla bla.... {{modalParams}}</p>
    <p>{{modalParams.job_title}}</p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="Job.removeApplication(modalParams.job_id)">Anular postulación <i class="fa fa-times fa-lg"></i></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Volver atrás <i class="fa fa-reply fa-lg"></i></button>
  </div>
</div>