<div class="client-wrapper">
  <nav class="client-navigation">
    <ul class="nav-default">
      <li class="nav-item is-active"><a href="#" class="nav-link">Procesos</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Publicar</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Buscar</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Entrevistas</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Métricas</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Configuración</a></li>
    </ul>
  </nav>
  <main class="client-content">
    <header class="client-content-header">
      <ul class="list-inline small">
        <li class="list-inline-item">Procesos</li>
        <li class="list-inline-item">Nombre Procesos</li>
        <li class="list-inline-item"><a href="#">Candidato</a></li>
      </ul>
    </header>
    <section class="client-content-box">
      <article class="applicant-card">
        <header class="applicant-header">
          <div class="applicant-title">
            <h3 class="applicant-name">Rodrigo Francisco Rodriguez Fernandez</h3>
            <span><i class="fa fa-trophy" aria-hidden="true"></i> 78 Puntos</span>
            <span class="tag tag-success">Confirmado</span>
          </div>
          <ul class="applicant-options">
            <li><a class="applicant-options-item" href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver video entrevista</a></li>
            <li><a class="applicant-options-item" href="#"><i class="fa fa-download" aria-hidden="true"></i> Bajar documento</a></li>
            <li><a class="applicant-options-item" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Recomendar</a></li>
            <li><a class="applicant-options-item" href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i> No recomendar</a></li>
            <li><a class="applicant-options-item" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Descartar</a></li>
          </ul>
        </header>
        <div class="applicant-body">
          <div class="row">
            <div class="col-md-6">
              <div class="applicant-label">
                <h4 class="applicant-label-title">Carrera</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
              <div class="applicant-label">
                <h4 class="applicant-label-title">Universidad</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
              <div class="applicant-label">
                  <h4 class="applicant-label-title">Situación Académica</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
              <div class="applicant-label">
                <h4 class="applicant-label-title">Experiencia</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="applicant-label">
                <h4 class="applicant-label-title">Nivel de Inglés</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
              <div class="applicant-label">
                <h4 class="applicant-label-title">Nivel de Excel</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
              <div class="applicant-label">
                <h4 class="applicant-label-title">Renta</h4>
                <p class="applicant-label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, at.</p>
              </div>
            </div>
          </div>
          <footer class="applicant-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <span class="applicant-label-title">Rut:</span>
                <span class="applicant-label-description">17.231.566-2</span>
              </li>
              <li class="list-inline-item">
                <span class="applicant-label-title">Teléfono:</span>
                <span class="applicant-label-description">+56 9 7302 8122</span>
              </li>
              <li class="list-inline-item">
                <span class="applicant-label-title">E-mail:</span>
                <span class="applicant-label-description">rodrigo.rodriguez.fernandez@alumnos.usm.cl</span>
              </li>
            </ul>
          </footer>
          <a href="#" class="btn btn-primary pull-xs-right"><i class="fa fa-chevron-down" aria-hidden="true"></i> Ver más información</a>
        </div>
      </article>
    </section>
  </main>
</div>
