.main-wrapper {
  padding-top: 80px;
}

.main-header {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.header-box {
  display: block;
  width: 100%;
  height: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header-box {
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
    display: table-cell;
    vertical-align: middle;
  }
}

.display-title {
  margin-bottom: 0;
  font-size: 0;
}

.display-title-1 {
  display: block;
  font-size: 2.25rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .display-title-1 {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .display-title-1 {
    font-size: 4rem;
  }
}

.display-title-2 {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .display-title-2 {
    font-size: 1.5rem;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .display-title-2 {
    font-size: 2.25rem;
  }
}

.display-title-3 {
  font-size: 1.125rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .display-title-3 {
    font-size: 1.375rem;
    line-height: 1.2;
  }
}

@media (min-width: 992px) {
  .display-title-3 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.login-box {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  margin-bottom: 1.875rem;
  font-size: 1.375rem;
  color: #818a91;
}

@media (min-width: 768px) {
  .login-title {
    font-size: 1.75rem;
    line-height: 1.2;
  }
}

.client-box {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.client-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16.25rem;
  height: 8.75rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.client-logo:hover {
  background-position: center bottom;
  -webkit-animation: smoothIn ease-in 1;
          animation: smoothIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.footer-primary {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: #FF715A;
  color: #fff;
}

@media (min-width: 768px) {
  .footer-primary {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.footer-primary-item {
  display: table;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

@media (min-width: 768px) {
  .footer-primary-item {
    height: 9.375rem;
    padding: 0;
  }
}

.footer-primary-link {
  display: block;
  margin-bottom: 0.3125rem;
  color: #fff;
}

.footer-primary-link:link {
  color: #fff;
}

.footer-primary-link:visited {
  color: #f2f2f2;
}

.footer-primary-link:hover, .footer-primary-link:active, .footer-primary-link:focus {
  color: rgba(255, 255, 255, 0.5);
}

.footer-secondary {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background: #3e3d68;
  color: #fff;
}

.footer-brand {
  display: inline-block;
  width: 10.625rem;
  height: 3.75rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.primary-title {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 3rem;
}

.text-light {
  color: #fff;
}

.u-separator-title {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 0;
  visibility: hidden;
  z-index: -1;
}

.u-separator-title:before, .u-separator-title:after {
  visibility: visible;
}

.u-separator-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: #d2d2d2;
  z-index: -1;
}

.u-separator-title:after {
  content: attr(data-title);
  position: relative;
  padding-left: .7rem;
  padding-right: .7rem;
  background: #fff;
  font-size: 1.75rem;
  line-height: 1.5;
}

.text-pass{
  color: #FF715A;
}

.text-alinear{
  padding-left: 10px;
  margin-left: -1em;
  margin-right: -1em;
  text-align: center;
}

.text-alinear2{
  margin-right: -3em;
}

