<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserQuestionsCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <form ng-submit="NewUser.submit_data()">
      <div class="user-form-element">
        <div class="">
          <article>
            <div class="row">
              <div class="col-md-12 offset-md-1">
                <div class="form-group text-xs-left questions-box2">
                  <div class="col-md-8 col-xs-7">
                    <p class="user-form-label">¿Organizaciones estudiantiles?
                      <em class="user-form-description">(Centro de Alumnos, Federaciones, etc.)</em>
                    </p>
                  </div>
                  <div class="btn-group buttons-align col-md-4 col-xs-5" data-toggle="buttons">
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.student_activities == 1}" for="question-a1">
                      <input type="radio" id="question-a1" name="student_activities" ng-model="NewUser.activities.student_activities" value="1"> Sí
                    </label>
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.student_activities == 0}" for="question-a2">
                      <input type="radio" id="question-a2" name="student_activities" ng-model="NewUser.activities.student_activities" value="0"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article>
            <div class="row">
              <div class="col-md-12 offset-md-1">
                <div class="form-group text-xs-left questions-box2">
                  <div class="col-md-8 col-xs-7">
                    <p class="user-form-label">¿Organizaciones deportivas?
                      <em class="user-form-description"> (Selección de Futbol, Basquetball, Tenis, Artes Marciales, etc.)</em>
                    </p>
                  </div>

                  <div class="btn-group buttons-align col-md-4 col-xs-5" data-toggle="buttons">
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.sport_activities == 1}" for="question-b1">
                      <input type="radio" id="question-b1" name="sport_activities" ng-model="NewUser.activities.sport_activities" value="1"> Sí
                    </label>
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.sport_activities == 0}" for="question-b2">
                      <input type="radio" id="question-b2" name="sport_activities" ng-model="NewUser.activities.sport_activities" value="0"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article>
            <div class="row">
              <div class="col-md-12 offset-md-1">
                <div class="form-group text-xs-left questions-box2">
                  <div class="col-md-8 col-xs-7">
                    <p class="user-form-label">¿Organizaciones independientes? 
                      <em class="user-form-description">(Organizando Ferias, grupos de investigación, reciclaje, etc.)</em>
                    </p>
                  </div>

                  <div class="btn-group buttons-align col-md-4 col-xs-5" data-toggle="buttons">
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.student_ind_activities == 1}" for="question-c1">
                      <input type="radio" id="question-c1" name="student_ind_activities" ng-model="NewUser.activities.student_ind_activities" value="1"> Sí
                    </label>
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.student_ind_activities == 0}" for="question-c2">
                      <input type="radio" id="question-c2" name="student_ind_activities" ng-model="NewUser.activities.student_ind_activities" value="0"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article>
            <div class="row">
              <div class="col-md-12 offset-md-1">
                <div class="form-group text-xs-left questions-box2">
                  <div class="col-md-8 col-xs-7">
                    <p class="user-form-label">¿Has participado en voluntariados? 
                      <em class="user-form-description">(Un Techo para Chile, Desafio levantemos Chile, etc.)</em>
                    </p>
                  </div>
                  <div class="btn-group buttons-align col-md-4 col-xs-5" data-toggle="buttons">
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.volunteering == 1}" for="question-d1">
                      <input type="radio" id="question-d1" name="volunteering" ng-model="NewUser.activities.volunteering" value="1"> Sí
                    </label>
                    <label class="btn btn-outline-secondary label-yesno" ng-class="{active: NewUser.activities.volunteering == 0}" for="question-d2">
                      <input type="radio" id="question-d2" name="volunteering" ng-model="NewUser.activities.volunteering" value="0"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="form-group clearfix">
        <button type="button" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_career_status.html');" class="btn btn-outline-primary pull-xs-left">Anterior</button>
        <button class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>
