<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserAcademicCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title">Datos académicos</h1>
    <h3 class="user-form-label-primary text-xs-center">¿Dónde estudiaste tu carrera?</h3>
    <form ng-submit="NewUser.submit_data()">

      <div class="row user-form-element">
        <div class="col-md-4">
          <fieldset class="form-group">
            <label>País</label>
            <select class="form-control country-user" id="country-user" required>
              <option ng-repeat="country in NewUser.countries" value="{{ country['id'] }}">{{country.name}}</option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group">
            <label>Universidad</label>
            <select class="form-control" id="university-user" ng-model="NewUser.university_id">
              <option ng-repeat="university in NewUser.universities" value="{{ university['id'] }}" selected="NewUser.user.university_id == university.id">{{university.name}}</option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group">
            <label>Carrera</label>
            <select class="form-control" id="career-user" style="width:100%" ng-model="NewUser.principal_career_id" required>
              <option value="{{career.id}}" ng-repeat="career in NewUser.careers">{{career.name}}</option>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="row text-xs-center" ng-if="NewUser.loadingUniversities || NewUser.loadingCareers ">
        <p>Cargando...</p>
      </div>
      <div class="form-group clearfix">
        <button type="button" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_data.html');" class="btn btn-outline-primary pull-xs-left"><i class="fa fa-angle-left fa-lg"></i> Anterior</button>
        <button ng-disabled="NewUser.loadingUniversities == true || NewUser.loadingCareers == true" class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>
