<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserCareerStatusCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title">Situación académica</h1>
    <form ng-submit="NewUser.submit_data()">
      <div class="row user-form-element" ng-class="{display2: NewUser.user.career_status == 3}">
        <div class="col-md-4">
          <fieldset class="form-group">
            <label>Mi situación académica</label>
            <select class="form-control" ng-model="NewUser.user.career_status" required>
              <option value="">Seleccionar</option>
              <option value="1">Estudiante</option>
              <option value="2">Egresado</option>
              <option value="3">Titulado</option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-4" ng-if="NewUser.user.career_status != 3">
          <fieldset class="form-group" >
            <label>Estoy buscando</label>
            <select class="form-control" ng-model="NewUser.user.looking_for" required>
              <option value="">Seleccionar estado</option>
              <option value="1" ng-if="NewUser.user.career_status == 1">Práctica</option>
              <option value="2">Memoria</option>
              <option value="3" ng-if="NewUser.user.career_status != 1">Trabajo</option>
            </select>


          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group" ng-if="NewUser.user.career_status != 1">
            <label>Experiencia</label>
            <select class="form-control" ng-model="NewUser.user.years_experience" required>
              <option value="">Seleccionar</option>
              <option value="0">Sin experiencia</option>
              <option value="1">1 año</option>
              <option value="2">2 años</option>
            </select>
          </fieldset>
          <fieldset class="form-group" ng-if="NewUser.user.career_status == 1">
            <label>Año que cursas</label>
            <select class="form-control" ng-model="NewUser.user.age_study" required>
              <option value="">Seleccionar</option>
              <option ng-repeat="year in [1,2,3,4,5,6,7,8]" value="{{ year }}"> {{ year }} año </option>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="form-group clearfix">
        <button type="button" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_academic.html');" class="btn btn-outline-primary pull-xs-left"><i class="fa fa-angle-left fa-lg"></i> Anterior</button>
        <button class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>
