<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserAssistantshipsCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title text-xs-center">Ayudantías</h1>
    <form ng-submit="NewUser.submit_data()">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="user-form-element text-xs-center">
            <div class="form-group">
              <p>¿Realizaste ayudantías?</p>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary"  ng-class="{active: NewUser.user.assistantship == 1}" for="question-b1">
                  <input name="assistantship" id="question-b1" type="radio" ng-model="NewUser.user.assistantship" value="1"> Sí
                </label>
                <label class="btn btn-outline-secondary" ng-class="{active: NewUser.user.assistantship == 0}" for="question-b2">
                  <input name="assistantship" id="question-b2" type="radio" ng-model="NewUser.user.assistantship" value="0" autocomplete="off" checked> No
                </label>
              </div>
            </div>
            <div class="form-group" ng-if="NewUser.user.assistantship == 1">
              <label for="">¿Cuantas?</label>
              <select class="form-control select-ayudantias" ng-model="NewUser.user.assistantship_number">
                <option ng-repeat="count in [1,2,3,4,5,6,7,8]"  value="{{count}}" > {{count}} </option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Promedio de notas</label>
              <select class="form-control select-ayudantias" ng-model="NewUser.user.qualifications">
                <option ng-repeat="qualification in 61 | range" value="{{(qualification + 10)/10}}"> {{(qualification + 10) /10}} </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    <div class="form-group clearfix">
      <button type="button" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_questions.html');" class="btn btn-outline-primary pull-xs-left"><i class="fa fa-angle-left fa-lg"></i> Anterior</button>
      <button class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
    </div>
    </form>
  </div>
</section>
