<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserCVCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>    
    <h1 class="user-form-title text-xs-center">Curriculum</h1>
    <small><p class="text-xs-center m-b-2 cent">* Tu postulación no estará activa hasta que completes este paso.</p></small> 
    <form ng-submit="NewUser.submit_data()">
      <div class="row text-xs-center user-form-element">
        <button type="file" ngf-select="NewUser.uploadFiles($file, $invalidFiles)"
        accept="document/*" ngf-max-height="1000" ngf-max-size="1MB">
        Seleccionar un archivo</button>
        <br>
        <div style="font:smaller">{{NewUser.f.name}} {{NewUser.errFile.name}} {{NewUser.errFile.$error}} {{NewUser.errFile.$errorParam}}
          <span class="progress" ng-show="NewUser.f.progress >= 0">
            <div style="width:{{NewUser.f.progress}}%"  
            ng-bind="NewUser.f.progress + '%'"></div>
          </span>
        </div> 
        <br>    
        {{NewUser.errorMsg}}
        <br>
        <a ng-if="UserService.getUserData().resume != null" href="{{UserService.getUserData().resume}}">Descargar CV</a>
        <button ng-click="ModalService.open({}, 'lg', 'components/jobs/job-apply-end.html');" class="btn">Lo haré más tarde</button>
      </div>
      <div class="form-group clearfix">
        <button type="button" ng-click="NewUser.goBack();" ng-if="Job.job.title != null" class="btn btn-outline-primary pull-xs-left">
          <i class="fa fa-angle-left fa-lg"></i> Anterior
        </button>
        <button ng-disabled="NewUser.f == null" class="btn btn-outline-primary pull-xs-right">Finalizar <i class="fa fa-check-square-o fa-lg"></i></i></button>
      </div>
    </form>
  </div>
</section>