<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title text-xs-center">Renta</h1>
    <form ng-submit="NewUser.submit_data()">
      <div class="row user-form-element">
        <div class="col-md-4 offset-md-4">
          <fieldset class="form-group text-xs-center">
            <label class="user-form-label-primary">¿Cuál es tu expectativa de renta?</label>
            <div class="input-container">
              <input class="form-control" type="number" min="80000" max="3000000" ng-model="Job.minimum_salary_expected" id="renta" required placeholder="0" onkeyup="format(this)" onchange="format(this)">
            </div>
          </fieldset>
        </div>
      </div>
      <div class="form-group clearfix">
        <button class="btn btn-outline-primary pull-xs-left"><i class="fa fa-angle-left fa-lg"></i> Anterior</button>
        <button class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>
