<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserAbilityCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title text-xs-center">Habilidades</h1>
    <form ng-submit="NewUser.submit_data()">
      <div class="row text-xs-center user-form-element">
        <div class="col-md-6">
          <h4 class="user-form-label english-level-title">Nivel de Inglés</h4>
          <fieldset class="form-group">
            <label class="checkbox-primary" ng-repeat="level in ['Básico', 'Medio', 'Avanzado', 'Nativo'] track by $index">
              <input type="radio" value="{{$index + 1}}" name="english_level" ng-model="NewUser.user.english_level" required>
              <span class="checkbox-label">{{level}}</span>
            </label>
          </fieldset>
        </div>
        <div class="col-md-6">
          <h4 class="user-form-label excel-level-title">Nivel de Excel</h4>
          <fieldset class="form-group">
            <label class="checkbox-primary" ng-repeat="level in ['Básico', 'Medio', 'Avanzado', 'Profesional'] track by $index">
              <input type="radio" value="{{$index + 1}}" name="excel_level" ng-model="NewUser.user.excel_level" required>
              <span class="checkbox-label">{{level}}</span>
            </label>
          </fieldset>
        </div>
      </div>
      <div class="form-group clearfix">
        <button type="button" ng-click="NewUser.goBack();" class="btn btn-outline-primary pull-xs-left"><i class="fa fa-angle-left fa-lg"></i> Anterior</button>
        <button class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>