<ng-include src="'components/partials/modal-header.html'"></ng-include>
<section class="user-form-box" ng-controller="NewUserCtrl as NewUser">
  <div class="container">
    <p class="text-xs-center m-b-2">Para postular completa los siguientes datos</p>
    <h1 class="user-form-title">Datos personales</h1>
    <form ng-submit="NewUser.submit_data()">
      <div class="row user-form-element">
        <div class="col-md-4">
          <fieldset class="form-group user-form-item">
            <label>NOMBRE</label>
            <input class="form-control" type="text" ng-model="NewUser.user.first_name" placeholder="Escribe tu Nombre" required>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group user-form-item">
            <label>APELLIDOS</label>
            <input class="form-control" type="text" ng-model="NewUser.user.last_name" placeholder="Escribe tus apellidos" required>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group user-form-item">
            <label>PAÍS DE RESIDENCIA</label>
            <select class="form-control" ng-model="NewUser.country_id"  required>
              <option ng-repeat="country in NewUser.countries" value="{{ country['id'] }}" ng-selected="NewUser.user.country_id == country['id']" > {{ country["name"] }} </option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group user-form-item">
            <label>CÓDIGO</label>
            <select class="form-control" required ng-model="country_select">
              <option value="{{country.id}}" ng-repeat="country in NewUser.countries">{{country.name}}</option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group user-form-item disp2 user-form-item-phone">
            <label>TELÉFONO</label>
            <div class="input-group disp3">
              <span class="input-group-addon" id="basic-addon1"><i class="flag flag-{{NewUser.iso_code}}"></i>{{NewUser.calling_code}}</span>

              <input type="text" class="form-control" ng-model="NewUser.user.phone" placeholder="número de teléfono" required aria-describedby="basic-addon1" maxlength="8">

            </div>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group user-form-item">
            <label>RUT / DNI</label>
            <input class="form-control" type="text" ng-model="NewUser.user.rut_dni" data-type="rut" placeholder="RUT o DNI" required>
          </fieldset>
        </div>
      </div>
      <div class="row text-xs-center" ng-if="NewUser.loading">
        <p>Cargando...</p>
      </div>
      <div class="form-group clearfix">
        <button ng-disabled="NewUser.loading == true || NewUser.country_id == ''" class="btn btn-outline-primary pull-xs-right">Siguiente <i class="fa fa-angle-right fa-lg"></i></button>
      </div>
    </form>
  </div>
</section>