<h1>Perfil de usuario</h1>

<div ng-init="User.getProfile()">

{{User.profile}}

</div>
<hr>
<a href="" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_data.html')"> Modal User Data</a>  | 
<a ui-sref="new-user">User data</a> | 
<a ui-sref="new-user-academic">Academico</a> | 
<a ui-sref="new-user-career-status">Estado de estudios</a> | 
<a ui-sref="new-user-ability">Habilidades</a> | 
<a ui-sref="new-user-salary">Renta</a> |
<a ui-sref="new-user-questions">Preguntas</a> |
<a href="" ng-click="ModalService.open({}, 'lg', 'components/users/new_user_cv.html')"> Modal CV</a>

<hr>
<a ui-sref="job-favorites">Favoritos</a> | 
<a ui-sref="job-applications">Postulados</a> | 
<a ui-sref="job-removed">Descartados</a>