.apply-header-box {
  background: #F6F6F8;
}

.apply-header-content {
  display: table;
  width: 100%;
  min-height: 5rem;
}

.apply-header-brand {
  width: 2.5rem;
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.9375rem;
}

.apply-header-image {
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.175);
}

.apply-header-title {
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem;
  color: #3e3d68;
}

.user-form-box {
  position: relative;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.user-form-message {
  position: relative;
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
}

.user-form-title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #3e3d68;
  text-transform: uppercase;
  text-align: center;
}

.user-form-label {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

.user-form-label + .user-form-description {
  margin-top: -0.9375rem;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.user-form-label-primary {
  font-size: 16px;
  color: #FF715A;
}

.user-form-description {
  display: block;
  margin-top: initial;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .user-form-element {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.3em;
    padding-right: 2.3em;
  }
}

@media (min-width: 768px) {
  .user-form-item {
    padding-bottom: 1rem;
  }
}

.select-ayudantias {
  width: 5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.questions-box1{
  float: left;
  display: inline-flex;
  margin-bottom: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

.questions-box2{
  display: flex;
  margin-left: 0em;
  margin-bottom: 0;

}

.buttons-align{
  padding-top: 18px;
  margin-left: 10px;
}

.box-align{
  margin-right: 3em;
  margin-left: 3em;
  padding-left: 1em;
  padding-right: 1em; 
}


.message-center{
  position: relative;
  display: table;
  width: 100%;
  padding-left: 375px;
}

.disp{
  width: 6em;
}

.disp2{
  margin-left: 20px;
}


.disp3{
  display: inline-table;
}

.display2{
  padding-left: 18em;
}


@media (max-width: 992px) {

  .user-form-box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .user-form-item-phone{
    margin-left: 0!important;
  }

  .checkbox-primary {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .display2{
    padding-left: 0;
  }

  .label-yesno{
    padding: 14px;
  }
  .user-form-label {
    font-size: 0.9rem;
  }
  .user-form-element{
    padding-left: 1em;
    padding-right: 1em;
  }
  .user-form-description {
    font-size: 0.7rem;
  }

}

@media (max-width: 768px) {
  .excel-level-title {
    margin-bottom: 1rem!important;
  }
  .english-level-title {
    margin-top: 3rem!important;
    margin-bottom: 1rem!important;
  }
}



/* MODAL */

@media (min-width: 544px){
  .modal-dialog {
    max-width: 90%;
  }
}
