.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #3e3d68;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.navigation.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 1000;
}

@media (max-width: 1111px) {
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 3.125rem;
    visibility: hidden;
    list-style: none;
    background: rgba(255, 113, 90, 0.95);
    -webkit-transform-origin: -50% 3.275rem;
        -ms-transform-origin: -50% 3.275rem;
            transform-origin: -50% 3.275rem;
    -webkit-transform: scale3d(0, 0, 0) translate3d(0, 50%, 0);
            transform: scale3d(0, 0, 0) translate3d(0, 50%, 0);
    -webkit-transition-property: opacity, width, height, border-radius, visibility, -webkit-transform;
    transition-property: opacity, width, height, border-radius, visibility, -webkit-transform;
    transition-property: opacity, width, height, transform, border-radius, visibility;
    transition-property: opacity, width, height, transform, border-radius, visibility, -webkit-transform;
    -webkit-transition-duration: .7s;
            transition-duration: .7s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }
}

@media (min-width: 1111px) {
  .main-nav {
    position: relative;
    height: auto;
    opacity: 1;
  }
}

.main-nav-item {
  position: relative;
  display: none;
  float: none;
  text-align: center;
}

@media (min-width: 1111px) {
  .main-nav-item {
    float: left;
    display: block;
    text-align: left;
  }
}

.main-nav-link {
  position: relative;
  display: block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 5rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
}

.main-nav-link:link {
  color: #fff;
}

.main-nav-link:visited {
  color: #f2f2f2;
}

.main-nav-link:hover, .main-nav-link:active, .main-nav-link:focus {
  color: #FF715A;
}

.main-nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: -webkit-calc(100% - 1.875rem);
  width: calc(100% - 1.875rem);
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  background: #FF715A;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}

.main-nav-link:hover, .main-nav-link.is-active {
  color: #FF715A;
}

.main-nav-link:hover:after, .main-nav-link.is-active:after {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (min-width: 1111px) {
  .main-nav-block {
    display: block;
    margin-left: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background: -webkit-linear-gradient(315deg, #6766a5, #515088);
    background: linear-gradient(135deg, #6766a5, #515088);
    color: white;
    font-size: 0.8125rem;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: normal;
    box-shadow: inset 0 0.125rem 1.25rem 0.1875rem rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: -1em;
    width: 300px;
  }
  .main-nav-block:link {
    color: white;
  }
  .main-nav-block:visited {
    color: #f2f2f2;
  }
  .main-nav-block:hover, .main-nav-block:active, .main-nav-block:focus {
    color: white;
  }
  .main-nav-block:hover, .main-nav-block:focus {
    background: -webkit-linear-gradient(315deg, #3e3d68, #2b2a48);
    background: linear-gradient(135deg, #3e3d68, #2b2a48);
  }
  .main-nav-block:after {
    display: none;
  }
}

@media (min-width: 1111px) {
  .main-nav-button {
    margin-left: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 3.125rem;
    background: #FF715A;
    color: #fff;
    font-size: 0.8125rem;
    line-height: 80px;
    text-transform: normal;
    font-weight: normal;
    color: #fff;
  }
  .main-nav-button:link {
    color: #fff;
  }
  .main-nav-button:visited {
    color: #f2f2f2;
  }
  .main-nav-button:hover, .main-nav-button:active, .main-nav-button:focus {
    color: #fff;
  }
  .main-nav-button:hover, .main-nav-button:focus {
    background: #ff4527;
  }
  .main-nav-button:after {
    display: none;
  }
  .main-nav-button-secondary {
    background: #6766a5;
  }
  .main-nav-button-secondary:hover, .main-nav-button-secondary:focus {
    background: #515088;
  }
}

.main-nav-toggle {
  position: relative;
  margin-top: 0.9375rem;
  padding: 0.4375rem 0.9375rem 0.3125rem;
  border: 0.125rem solid #fff;
  border-radius: 3.125rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  color: #fff;
}

.main-nav-toggle:link {
  color: #fff;
}

.main-nav-toggle:visited {
  color: #f2f2f2;
}

.main-nav-toggle:hover, .main-nav-toggle:active, .main-nav-toggle:focus {
  color: #fff;
}

.main-nav-toggle:hover, .main-nav-toggle:focus {
  background: #6766a5;
  border-color: #6766a5;
}

@media (min-width: 1111px) {
  .main-nav-toggle {
    display: none;
  }
}

.main-nav-user-image {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  border-radius: 3.125rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  overflow: hidden;
}

@media (max-width: 1111px) {
  .main-nav.is-open {
    width: 100%;
    height: 100vh;
    padding-bottom: 5.625rem;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    background-color: #3e3d68;
    background: -webkit-linear-gradient(315deg, #3e3d68 0%, #3e3d68 50%, #3e3d68 100%);
    background: linear-gradient(135deg, #3e3d68 0%, #3e3d68 50%, #3e3d68 100%);
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -webkit-transition-property: opacity, visibility, border-radius, -webkit-transform;
    transition-property: opacity, visibility, border-radius, -webkit-transform;
    transition-property: opacity, transform, visibility, border-radius;
    transition-property: opacity, transform, visibility, border-radius, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    overflow-y: auto;
    z-index: 1000;
  }
  .main-nav.is-open .main-nav-item {
    display: block;
  }
  .main-nav.is-open .main-nav-link:hover, .main-nav.is-open .main-nav-link.is-active {
    background: #FF715A;
    color: white;
  }
  .main-nav.is-open .main-nav-link:after {
    display: none;
  }
  .main-nav.is-open .main-nav-button {
    display: inline-block;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-top: 1.25rem;
    border: 0.125rem solid #FF715A;
    border-radius: 3.125rem;
    color: #FF715A;
    line-height: 3;
  }
  .main-nav.is-open .main-nav-button:hover, .main-nav.is-open .main-nav-button:focus {
    border-color: #FF715A;
    background: #FF715A;
    color: white;
  }
  .main-nav.is-open .main-nav-mobile-close {
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    text-align: right;
  }
  .main-nav.is-open .main-nav-mobile-brand {
    margin-bottom: 20px;
  }
}

.main-nav-mobile-close {
  display: none;
}

.main-nav-mobile-brand {
  display: none;
}

.main-nav-brand {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.position-logout{
  position: absolute;
  top: 50px;
  color: #ffffff;
  margin-left: 89px;
  font-weight: lighter;
  font-size: .8em;
}



.fixed-nav{
  margin-left: 370px;
}
.fixed-nav2{
  padding-right: 50px;
}

@media (min-width: 1111px) {
  .main-nav-block2 {
    display: block;
    margin-left: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background: -webkit-linear-gradient(315deg, #6766a5, #515088);
    background: linear-gradient(135deg, #6766a5, #515088);
    color: white;
    font-size: 0.8125rem;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: normal;
    box-shadow: inset 0 0.125rem 1.25rem 0.1875rem rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: -1em;
    width: 280px;
  }
  .main-nav-block2:link {
    color: white;
  }
  .main-nav-block2:visited {
    color: #f2f2f2;
  }
  .main-nav-block2:hover, .main-nav-block:active, .main-nav-block:focus {
    color: white;
  }
  /*.main-nav-block:hover, .main-nav-block:focus {
    background: -webkit-linear-gradient(315deg, #3e3d68, #2b2a48);
    background: linear-gradient(135deg, #3e3d68, #2b2a48);
  }*/
  .main-nav-block2:after {
    display: none;
  }
}