<div class="container-fluid">
  <a ui-sref="home" class="main-nav-brand m-l-2">
    <img class="img-fluid img-disabled" alt="FirstJob" src="assets/images/firstjob-logo.png">
  </a>
  <a href="#" class="main-nav-toggle pull-xs-right m-r-2"><i class="fa fa-bars" aria-hidden="true"></i> Menú</a>
  <ul class="main-nav pull-xs-left fixed-nav main-nav-1" id="movil1">
    <li class="logo-menu-mobile close-menu">
      <a href="/"><img class="img-fluid center-block" alt="FirstJob" src="assets/images/firstjob-logo.png"></a>
    </li>
    <li class="main-nav-item main-nav-mobile-close">
      <a class="main-nav-toggle" href="#"><i class="fa fa-close" aria-hidden="true"></i> Cerrar</a>
    </li>
    <li class="main-nav-item close-menu"><a ui-sref="jobs" class="main-nav-link">Trabajos</a></li>
    <li class="main-nav-item close-menu"><a href="#" class="main-nav-link">Blog</a></li>
    <li class="main-nav-item close-menu"><a href="#" class="main-nav-link hidden-sm-up">Academia</a></li>
    <li class="main-nav-item close-menu"><a ui-sref="profile" class="main-nav-link hidden-sm-up">Perfil</a></li>
    <li class="main-nav-item close-menu"><a href="#" class="main-nav-link hidden-sm-up">Pitutos</a></li>
    <li class="main-nav-item close-menu hidden-lg-up" ng-show="UserService.isUser() == true">
    <a href="" ng-controller="SessionController as Session" ng-click="Session.logout()" class="main-nav-link">Cerrar Sesión 
        <i class="fa fa-sign-out fa-lg"></i>
      </a>
    </li>

  </ul>
  <ul class="main-nav pull-xs-right">
    <li class="main-nav-item" ng-show="UserService.isUser() == false"><a ui-sref="home" href="" class="main-nav-button">Ingresar</a></li>
    <li class="main-nav-item" ng-show="UserService.isUser() == false"><a href="" class="main-nav-button main-nav-button-secondary">¿Eres una empresa?</a></li>

    <li class="main-nav-item" ng-show="UserService.isUser() == true">
      <a class="main-nav-block2">
        <span class="main-nav-user-image" data-src="https://firstjob.me/assets/companies/service-match-597901a74b0b62e49754041d86234712.jpg"></span>Hola
        <strong>{{UserService.getUserData().first_name}}</strong>
        <a href="" ng-controller="SessionController as Session" ng-click="Session.logout()" class="position-logout">Cerrar Sesión 
          <i class="fa fa-sign-out fa-lg"></i>
        </a>
      </a>
    </li>
  </ul>
</div>



