@import "../base/firstjob";

// Navigation
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem($main-nav-height);
  background: rgba($brand-secondary, 1);
  box-shadow: rem(0 2px 5px rgba(0,0,0,0.3));
  z-index: 100;
  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 1000;
  }
}
.main-nav {
  @media (max-width: $screen-md-max) {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: rem(50px);
    visibility: hidden;
    list-style: none;
    background: rgba($brand-primary, .95);
    transform-origin: -50% 3.275rem;
    transform: scale3d(0,0,0) translate3d(0,50%,0);
    transition-property: opacity, width, height, transform, border-radius, visibility;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
  @media (min-width: $screen-lg) {
    position: relative;
    height: auto;
    opacity: 1;
  }
  &-item {
    position: relative;
    display: none;
    float: none;
    text-align: center;
    @media (min-width: $screen-lg) {
      float: left;
      display: block;
      text-align: left;
    }
  }
  &-link {
    position: relative;
    display: block;
    @include rem((
    padding-left: 15px,
    padding-right: 15px,
    font-size: 13px
    ));
    font-weight: 500;
    line-height: rem($main-nav-height);
    white-space: nowrap;
    text-transform: uppercase;
    @include link-states($color-light, $brand-primary);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: calc(100% - #{rem(30px)});
      height: rem(4px);
      margin-left: auto;
      margin-right: auto;
      background: $brand-primary;
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: $transition-duration;
      transform: scale3d(0, 1, 1);
    }
    &:hover,
    &.is-active {
      color: $brand-primary;
      &:after {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: $transition-duration;
      }
    }
  }
  &-block {
    @media (min-width: $screen-lg) {
      display: block;
      @include rem((
      margin-left: 10px,
      padding-left: 30px,
      padding-right: 30px
      ));
      background: linear-gradient(135deg, lighten($brand-secondary, 20%), lighten($brand-secondary, 10%));;
      color: white;
      font-size: rem(13px);
      line-height: $main-nav-height;
      text-transform: capitalize;
      font-weight: normal;
      box-shadow: rem(inset 0 2px 20px 3px rgba(0,0,0,0.2));
      @include link-states(white, white);
      &:hover, &:focus {
        background: linear-gradient(135deg, $brand-secondary, darken($brand-secondary, 10%));;
      }
      &:after {
        display: none;
      }
    }
  }
  &-button {
    @media (min-width: $screen-lg) {
      @include rem((
      margin-left: 20px,
      padding: 10px 20px,
      border-radius: 50px
      ));
      background: $brand-primary;
      color: $color-light;
      font-size: rem(13px);
      line-height: $main-nav-height;
      text-transform: normal;
      font-weight: normal;
      @include link-states($color-light, $color-light);
      &:hover, &:focus {
        background: darken($brand-primary, 10%);
      }
      &:after {
        display: none;
      }
      &-secondary {
        background: lighten($brand-secondary, 20%);
        &:hover, &:focus {
          background: lighten($brand-secondary, 10%);
        }
      }
    }
  }
  &-toggle {
    position: relative;
    @include rem((
    margin-top: 15px,
    padding: 7px 15px 5px,
    border: 2px solid $color-light,
    border-radius: 50px,
    font-size: 10px
    ));
    text-transform: uppercase;
    font-weight: 500;
    transform: translateY(25%);
    @include link-states($color-light, $color-light);
    &:hover, &:focus {
      background: lighten($brand-secondary, 20%);
      border-color: lighten($brand-secondary, 20%);
    }
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  &-user-image {
    @include rem((
    display: inline-block,
    width: 40px,
    height: 40px,
    margin-right: 10px,
    border-radius: 50px
    ));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    overflow: hidden
  }
  @media (max-width: $screen-md-max) {
    &.is-open {
      width: 100%;
      height: 100vh;
      padding-bottom: 5.625rem;
      opacity: 1;
      visibility: visible;
      border-radius: 0;
      background-color: rgba(white, 0.95);
      background: linear-gradient(135deg, rgba(white, .95) 0%,rgba(darken(white, 10%), .95) 50%,rgba(darken(white, 5%), .95) 100%);
      transform-origin: 50% 0;
      transform: scale3d(1,1,1) translate3d(0,0,0);
      transition-property: opacity, transform, visibility, border-radius;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0.2,1,0.3,1);
      overflow-y: auto;
      z-index: 1000;
      .main-nav-item {
        display: block;
      }
      .main-nav-link {
        &:hover,
        &.is-active {
          background: $brand-primary;
          color: white;
        }
        &:after {
          display: none;
        }
      }
      .main-nav-button {
        display: inline-block;
        @include rem((
        padding-left: 30px,
        padding-right: 30px,
        margin-top: 20px,
        border: 2px solid $brand-primary,
        border-radius: 50px
        ));
        color: $brand-primary;
        line-height: 3;
        &:hover, &:focus {
          border-color: $brand-primary;
          background: $brand-primary;
          color: white;
        }
      }
      .main-nav-mobile {
        &-close {
          padding-top: 10px;
          padding-right: 10px;
          margin-bottom: 30px;
          text-align: right;
        }
        &-brand {
          margin-bottom: 20px;
        }
      }
    }
  }
}
.main-nav-mobile {
  &-close {
    display: none;
  }
  &-brand {
    display: none;
  }
}
.main-nav-brand {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
