<section class="main-header">
	<article class="header-box" data-src="assets/images/home-header-bg.png">
		<h1 class="display-title text-light text-xs-center">
			<span class="display-title-1 animated fadeIn">Postula</span>
			<span class="display-title-2 animated fadeIn">a prácticas y primeros trabajos</span>
			<span class="display-title-3 animated fadeIn">en las mejores empresas de latinoamerica</span>
		</h1>
	</article>
	<article class="header-box" ng-controller="StateController as State">
			<ng-include ng-if="State.currentState == 'home'" src="'components/home/register.html'"></ng-include>
			<ng-include ng-if="State.currentState == 'login'" src="'components/home/login.html'"></ng-include>
			<ng-include ng-if="State.currentState == 'lost-password'" src="'components/home/lost-password.html'"></ng-include>
			<ng-include ng-if="State.currentState == 'lost-password-send'" src="'components/home/lost-password-send.html'"></ng-include>
	</article>
</section>
<section class="client-box hidden-md-down">
	<div class="container">
		<h3 class="primary-title u-separator-title text-xs-center wow fadeIn" data-title="Grandes empresas te esperan">Grandes empresas te esperan</h3>
		<div class="row text-xs-center wow fadeIn">
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-loreal.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-pyg.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-cencosud.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-santander.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-metlife.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-telefonica.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-falabella.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-banco-falabella.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-roche.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-coca-cola.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-soprole.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-vtr.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-arauco.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-consorcio.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-aes-gener.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-havas-media.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-metro.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-uber.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-indumotora.png"></figure>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<figure class="client-logo" data-src="assets/images/brand-logo-hapag-lloyd.png"></figure>
			</div>
		</div>
	</div>
</section>
<footer>
	<section class="footer-primary">
		<div class="container">
			<div class="row wow fadeIn">
				<div class="col-md-6 col-lg-3">
					<article class="footer-primary-item text-xs-center text-md-right text-lg-center">
						<h3 class="footer-brand text-hide" data-src="assets/images/firstjob-logo.png">FirstJob</h3>
						<ul class="list-inline">
							<li class="list-inline-item">Síguenos en:</li>
							<li class="list-inline-item">
								<a class="footer-primary-link" href="#">
									<svg class="raven-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="26.197 26.198 200 200">
										<path d="M106 221v-86.5H76.8v-33.7H106v-25c0-28.7 17.7-44.4 43.5-44.4 12.3 0 23 1 26 1.3V63h-17.8c-14 0-16.8 6.5-16.8 16.3v21.5h33.4l-4.4 33.7h-29V221"/>
									</svg>
								</a>
							</li>
							<li class="list-inline-item">
								<a class="footer-primary-link" href="#">
									<svg class="raven-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="201.25 -62.52 200 200">
										<path d="M247.5 133.7h-42V3.7h42v130zM226.5-14h-.3C212-14 203-24 203-36.2c0-12.8 9.3-22.5 23.7-22.5S250-49 250.3-36.3c0 12.4-9 22.4-23.8 22.4zm173 147.7h-42V64.2c0-17.4-6.2-29.3-21.4-29.3-11.6 0-18.5 8-21.6 15.7-1 2.7-1.3 6.6-1.3 10.5v72.5h-42s.4-117.7 0-130h42v18.5c5.7-8.8 15.7-21.4 38-21.4 27.8 0 48.6 18.6 48.6 58.5v74.4z"/>
									</svg>
								</a>
							</li>
							<li class="list-inline-item">
								<a class="footer-primary-link" href="#">
									<svg class="raven-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-71.654 -71.73 200 200">
										<path d="M128-33.7c-7.2 3.3-15 5.5-23.4 6.5 8.4-5 15-13 18-22.7-8 4.8-16.7 8.2-26 10-7.5-8-18.2-13-30-13-22.6 0-41 18.5-41 41 0 3.3.4 6.4 1 9.4-34-1.7-64-18-84.3-42.8-3.6 6-5.6 13-5.6 20.6C-63.3-10.6-56 2-45 9.2c-6.8 0-13-2-18.6-5v.5c0 20 14 36.4 32.8 40.2-3.4.8-7 1.3-10.7 1.3-2.7 0-5.3-.2-7.8-.7C-44 62-29 73.6-11 74c-14 11-31.7 17.6-51 17.6-3.2 0-6.4-.2-9.7-.6 18.2 11.7 39.7 18.4 63 18.4 75.3 0 116.5-62.4 116.5-116.6v-5.3c8-5.7 14.8-13 20.3-21.2z"/>
									</svg>
								</a>
							</li>
							<li class="list-inline-item">
								<a class="footer-primary-link" href="#">
									<svg class="raven-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="583 400 200 200">
										<path d="M756.4 402H609.6c-13.8 0-24.5 10.7-24.5 24.5v147c0 13.8 10.8 24.5 24.6 24.5h146.8c13.8 0 24.5-10.7 24.5-24.5v-147c0-13.8-10.8-24.5-24.6-24.5zM683 461.5c22 0 39.5 17 39.5 38 0 21.2-17.6 38.3-39.4 38.3-21.6 0-39.2-17-39.2-38.2 0-21 17.7-38 39.3-38zm73.4 106c0 4-1.8 6-6 6H615.6c-4.3 0-6-2-6-6v-86l15 3.4c-1.5 5.3-2.4 11-2.4 16.8 0 32.5 27.3 59 60.8 59 33.7 0 61-26.5 61-59 0-6-1-11.5-2.5-17l15-3.2v85.8zm0-110.4c0 3.5-2.7 6.3-6 6.3h-24.6c-3.4 0-6-2.8-6-6.2v-24.4c0-3.3 2.6-6 6-6h24.5c3.4 0 6 2.7 6 6V457z"/>
									</svg>
								</a>
							</li>
						</ul>
					</article>
				</div>
				<div class="col-md-6 col-lg-3">
					<article class="footer-primary-item">
						<div class="u-vertical-center text-xs-center text-md-left">
							<ul class="list-unstyled">
								<li><a class="footer-primary-link" href="#">FAQ</a></li>
								<li><a class="footer-primary-link" href="#">Prensa</a></li>
								<li><a class="footer-primary-link" href="#">Términos y condiciones</a></li>
							</ul>
						</div>
					</article>
				</div>
				<div class="col-md-6 col-lg-3">
					<article class="footer-primary-item">
						<div class="u-vertical-center text-xs-center text-md-right text-lg-center">
							<h4>¿Tienes dudas?</h4>
							Escríbenos a: <a class="footer-primary-link" href="mailto:contacto@first.cl">contacto@firstjob.cl</a>
						</div>
					</article>
				</div>
				<div class="col-md-6 col-lg-3">
					<article class="footer-primary-item">
						<div class="u-vertical-center text-xs-center text-md-left text-lg-right">
							<a href="#" class="btn btn-inverted-primary btn-pill">¿Eres una empresa?</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="footer-secondary hidden-md-down">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<ul class="list-inline text-xs-center text-lg-left">
						<li class="list-inline-item m-r-3">Apoya</li>
						<li class="list-inline-item"><a href="#"><img src="assets/images/footer-icon-wayra.png" alt="Wayra" ></a></li>
						<li class="list-inline-item"><a href="#"><img src="assets/images/footer-icon-500.png" alt="500" ></a></li>
						<li class="list-inline-item"><a href="#"><img src="assets/images/footer-icon-startup-chile.png" alt="Startup Chile-" ></a></li>
					</ul>
				</div>
				<div class="col-lg-6 text-xs-center text-lg-right">
					<ul class="list-inline">
						<li class="list-inline-item m-r-3">Premios</li>
						<li class="list-inline-item"><a href="#"><img src="assets/images/footer-icon-open-talent.png" alt="BBVA Open Talent" ></a></li>
						<li class="list-inline-item"><a href="#"><img src="assets/images/footer-icon-seedstars-world.png" alt="Seedstars World" ></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>
