<article class="login-box wow fadeIn" ng-controller="SessionController as login">
	<h3 class="login-title text-xs-center text-muted m-b-2">Ingresa a FirstJob</h3>
	<div class="form-group">
		<button class="btn btn-facebook btn-block" ng-click="login.facebookLogin()"><i class="fa fa-facebook fa-lg"></i> Usa tu cuenta de Facebook</button>
		<button class="btn btn-linkedin btn-block"><i class="fa fa-linkedin fa-lg"></i> Usa tu cuenta de Linkedin</button>
	</div>
	<span class="u-separator"></span>
	<form class="form-horizontal">
		<fieldset class="form-group">
			<label for="f-email">Ingresa tu e-mail</label>
			<input ng-model="login.email" type="email" class="form-control" id="f-email" required>
		</fieldset>
		<fieldset class="form-group">
			<label for="f-password">Ingresa tu contraseña</label>
			<input ng-model="login.password" type="password" class="form-control" id="f-password" required>
		</fieldset>
		<div class="form-group">
			<a ng-if="isModal != true" ui-sref="lost-password" class="small"><i class="fa fa-long-arrow-right fa-lg"></i> ¿Olvidaste tu contraseña?</a>
			<a ng-if="isModal == true" href="" ng-click="ModalService.open({}, 'lg', 'components/home/modals/modal-lost-password.html');" class="small"><i class="fa fa-long-arrow-right fa-lg"></i> ¿Olvidaste tu contraseña?</a>
		</div>
		<fieldset class="form-group">
			<button class="btn btn-primary btn-block" ng-disabled="login.disableButton == true" ng-click="login.login()">Inicia sesión</button>
		</fieldset>
		<p ng-if="isModal != true" class="text-xs-center small">Si aún no tienes una cuenta <a ui-sref="home">¡Regístrate aquí!</a></p>
		<p ng-if="isModal == true" class="text-xs-center small">Si aún no tienes una cuenta <a href="" ng-click="ModalService.open({}, 'lg', 'components/home/modals/modal-register.html');">¡Regístrate aquí!</a></p>
	</form>
</article>
