<div class="wow fadeIn">
  <h3 class="login-title text-xs-center text-pass m-b-2">Todo Bien!</h3>
  <p class="text-alinear">Hemos enviado la contraseña a tu E-mail</p>
  <p class="text-alinear2" ng-if="isModal != true"><a ui-sref="jobs" class="small"><i class="fa fa-long-arrow-left"></i> Volver</a></p>
</div>