
<h3 class="login-title text-xs-center text-pass m-b-2">¿Te Falló la Memoria?</h3>
<form ng-controller="SessionController as login" ng-submit="login.lostPassword(isModal);" class="form-horizontal login-box wow fadeIn">
  <fieldset class="form-group">
    <label for="f-email" class="text-alinear">Déjanos tu E-mail y te enviaremos tu contraseña</label>
    <input ng-model="login.email" type="email" class="form-control" id="f-email" required>
  </fieldset>
  <fieldset class="form-group">
    <button class="btn btn-primary btn-block" ng-disabled="login.disableButton == true" >Solicitar nueva contraseña</button>
    <p></p>
    <a class="small" ng-if="isModal != true" ui-sref="login"><i class="fa fa-long-arrow-left fa-lg"></i> Volver</a>
    <a class="small" ng-if="isModal == true" href="" ng-click="ModalService.open({}, 'lg', 'components/home/modals/modal-login.html');"><i class="fa fa-long-arrow-left fa-lg"></i> Volver</a>
  </fieldset>
</form>

