<article class="login-box wow fadeIn" ng-controller="SessionController as login">
  <h3 class="login-title text-xs-center text-muted m-b-2 animated fadeIn">Regístrate en FirstJob</h3>
  <div class="form-group">
    <button class="btn btn-facebook btn-block animated fadeIn" ng-click="login.facebookLogin()"><i class="fa fa-facebook fa-lg"></i> Usa tu cuenta de Facebook</button>
    <button class="btn btn-linkedin btn-block animated fadeIn"><i class="fa fa-linkedin fa-lg"></i> Usa tu cuenta de Linkedin</button>
  </div>
  <span class="u-separator"></span>
  <form class="form-horizontal animated fadeIn" ng-submit="login.signup()" id="register" name="register">
    <fieldset class="form-group">
      <label for="f-email">Ingresa tu e-mail</label>
      <input ng-model="login.email" type="email" class="form-control" id="f-email" required>
    </fieldset>
    <fieldset class="form-group">
      <label for="f-password">Ingresa tu contraseña</label>
      <input ng-model="login.password" type="password" class="form-control" id="f-password" name="f-password" class="required" minlength="8"  required>
      <small>* Contraseña debe ser mayor a 8 Caracteres</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="f-password">Repite tu contraseña</label>
      <input ng-model="login.password" type="password" class="form-control" id="f-password" name="f-password" class="required" minlength="8" required>
      <small>* Contraseña debe ser mayor a 8 Caracteres</small>
    </fieldset>
    <div class="checkbox m-t-1 m-b-2">
      <label class="small">
        <input type="checkbox" required title="Recuerda que debes aceptar nuestros términos y condiciones."> Acepto <a href="#">términos y condiciones</a>
      </label>
    </div>
    <fieldset class="form-group">
      <button class="btn btn-primary btn-block" ng-disabled="login.disableButton == true">Crea tu cuenta</button>
    </fieldset>
    <p ng-if="isModal != true" class="text-xs-center small">Si ya tienes cuenta <a ui-sref="login">¡Ingresa aquí!</a></p>
    <p ng-if="isModal == true" class="text-xs-center small">Si ya tienes cuenta <a href="" ng-click="ModalService.open({}, 'lg', 'components/home/modals/modal-login.html');">¡Ingresa aquí!</a></p>
  </form>
</article>
