.title-container {
  height: 60px;
  width: 50%;
  border: 1px solid black;
}

.jobs-box {
  display: block;
  padding-top: 3.75rem;
  background: #ebeef1;
  min-height: 600px;
}

.jobs-box::after {
  content: "";
  display: table;
  clear: both;
}

.job-card {
  float: left;
  position: relative;
  top: 0;
  width: 21.875rem;
  height: 27.8125rem;
  margin-bottom: 1.875rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  box-shadow: 0 0.0625rem 0.3875rem rgba(0, 0, 0, 0.175);
  border-radius: .275rem;
  -webkit-transition-property: box-shadow, top;
  transition-property: box-shadow, top;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/*@media (min-width: 544px) {
  .job-card {
    float: left;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
}
*/
@media (max-width: 1200px) {
  .job-card {
    float: center;
    width: 47%;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
}

@media (max-width: 992px) {
  .job-card {
    float: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .category-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }

}

.job-card:hover {
  top: -0.2rem;
  box-shadow: 0 0.175rem 1rem rgba(0, 0, 0, 0.2);
}

.job-card:hover [data-appear="hover"] {
  opacity: 1;
}

.job-card-header {
  position: relative;
  display: table;
  width: 100%;
  height: 9.375rem;
  padding-left: 9.375rem;
  padding-right: 0.625rem;
  padding-bottom: 0.625rem;
  background: rgba(255, 113, 90, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
}

.job-card-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -5.625rem 3.75rem -1.875rem rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.job-card-heading {
  display: table-cell;
  vertical-align: bottom;
}

.job-card-image {
  position: absolute;
  left: 1.875rem;
  bottom: -1.25rem;
  width: 6.25rem;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: .175rem solid white;
  box-shadow: 0 0.075rem 0.25rem 0.075rem rgba(0, 0, 0, 0.3);
}

.job-card-title {
  position: relative;
  margin-bottom: .275rem;
  font-size: 1rem;
  color: white;
  text-shadow: 0.0625rem 0 0.1875rem rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.job-card-tags {
  position: relative;
  z-index: 1;
}

.job-card-block {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.job-card-text {
  font-size: .9rem;
  text-align: justify;
  width: 286px;
  height: 84px;
}

.job-card-info {
  position: relative;
  display: table;
  width: 100%;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.job-card-info:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.875rem;
  height: 0.125rem;
  background: #00BCEA;
}

.job-card-company {
  display: table-cell;
}

.job-card-company-name {
  margin-bottom: .075rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.job-card-date {
  display: table-cell;
  vertical-align: middle;
  font-size: .8rem;
}

.job-card-footer {
  display: table;
  position: absolute;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.job-card-footer-item {
  display: table-cell;
}

.job-card-lite {
  max-width: 15.625rem;
  height: 25rem;
}

.job-card-lite .job-card-header {
  padding-top: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: none !important;
}

.job-card-lite .job-card-header:before {
  display: none;
}

.job-card-lite .job-card-heading {
  display: block;
}

.job-card-lite .job-card-title {
  color: #4b4a66;
  font-size: 0.875rem;
  text-shadow: none;
  height: 2.2em;
  
}

.job-card-lite .job-card-image {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 2.1875rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.175);
  background-color: #fff;
}

.job-card-lite .job-card-info {
  display: none;
}

.job-card-lite .job-card-block {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.625rem;
}

.job-card-lite .job-card-text {
  font-size: 0.6875rem;
  height: 100px;
  width: 186px;
}

.job-card-lite .job-card-footer-item.btn {
  font-size: 0.875rem;
}

.jobs-header {
  position: relative;
  background: #fff;
}

.jobs-navigation {
  position: relative;
  display: block;
}

.jobs-navigation::after {
  content: "";
  display: table;
  clear: both;
}

.jobs-navigation-item {
  float: left;
}

.jobs-navigation-item.is-active > .jobs-navigation-link {
  color: #FF715A;
}

.jobs-navigation-link {

  height: 3.75rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size: 0.875rem;
  line-height: 3.75rem;
  color: #3e3d68;
}

.jobs-navigation-link:link {
  color: #3e3d68;
}

.jobs-navigation-link:visited {
  color: #343458;
}

.jobs-navigation-link:hover, .jobs-navigation-link:active, .jobs-navigation-link:focus {
  color: #FF715A;
}


.jobs-filters {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 180px;
  padding-top: 0.9375rem;
  font-size: 0.875rem;
  background: #e3e3ef;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.175);
  z-index: 100;
}

@media (max-width: 768px) {
  .jobs-filters-resp {
    height: 295px;
  }

  .job-card-lite{
    margin: 5px 0px;
    max-width: 100%;
  }

  .job-card-lite .job-card-text {
    font-size: 0.6875rem;
    min-height: 100px;
    width: 100%;
  }
  .top-10{
    top:10px;
  }
}


.jobs-filters-title {
  margin-bottom: 1.25rem;
  color: #3e3d68;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.filter-autocomplete{
  width: 100%;
  height: 30px; 
}

.jobs-options {
  display: table;
  width: 100%;
}

.jobs-options .form-group {
  display: table-cell;
  margin-bottom: 0;
  vertical-align: middle;
}

.u-vertical-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.raven-icon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

[data-appear="hover"] {
  opacity: 0;
  -webkit-transition: opacity .7s ease-in;
  transition: opacity .7s ease-in;
}




.icon-descartados:before {
  content: "\e900";
}

.icon-favoritos:before {
  content: "\e901";
}

.icon-postulados:before {
  content: "\e902";
}

.icon-todos:before {
  content: "\e903";
}

.jobs-loading{
  margin-bottom: 1.5em;
}

.button-color{
  color: #3e3d68;
}

.button-color:link{
  color: #3e3d68;
}

.button-color:visited {
  color: #3e3d68;
}

.button-color:hover{
  color: #FF715A;
}

.postulados-buttons{
  padding-left: 11px;
  padding-right: 11px;
}

.btn-anular{
  background-color: #FF0000;
  font-size: 1rem;
}

.btn-ver{
  background-color: #15EF9D;
  border-color: #15EF9D;
  font-size: 1rem;
}

[data-fav="true"]{
  color: #FF000B;
}


[data-removed="true"]{
  color: #0014FF;
}

.tags-job-card{
  position: relative;
  left: 209px;
  bottom: 60px;
}

.tags-job-card2{
  position: relative;
  left: 209px;
  bottom: 60px;
}

.job-tag-status2 {
  padding-top: 0.36rem;
  padding-right: 2.99em;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 0.75rem;
}

[data-show="true"]{
  display: inline;
}


[data-show="false"]{
  display: none;
}

.alert-cv-2{
  color: #fff;
  text-align: center;
  background-color: #FF715A;
}