@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8xuh2u");
  src: url("../fonts/icomoon.eot?8xuh2u#iefix") format("embedded-opentype"),  
  url("../fonts/icomoon.woff?8xuh2u") format("woff"), 
  url("../fonts/icomoon.ttf?8xuh2u") format("truetype"), 
  url("../fonts/icomoon.svg?8xuh2u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"]{
  font-family: "icomoon" !important; 
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-descartados:before {
  content: "\e900";
}

.icon-favoritos:before {
  content: "\e901";
}

.icon-postulados:before {
  content: "\e902";
}

.icon-todos:before {
  content: "\e903";
  width: 40 px;
  height: 40 px;
  color: #e1705b;
}

.icon-ofertas_volver:before {
  content: "\e904";
}

.fs1 {
  color: #9e9eb3;
  font-size: 32 px;
}

i .icon-todos {
  size: 40 px;
}