<section class="apply-header-box"  ng-controller="JobShow as Job" >
  <div class="container">
    <div class="apply-header-content">
    <button type="button" class="close" closemodal aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="apply-header-brand" ng-if="Job.job.title != null">
        <div class="apply-header-image" data-src="https://firstjob.me//uploads/company/avatar/2/199X112.jpg"></div>
      </div>
      <h3 ng-if="Job.job.title != null" class="apply-header-title">Estás postulando a <strong>{{Job.job.title}}</strong></h3>
    </div>
  </div>
</section>