.nav-item.is-active > .nav-link, .nav-link:hover, .nav-link:focus {
  background: #5b5998;
}

.nav-item.is-active > .nav-link:before, .nav-link:hover:before, .nav-link:focus:before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.625rem;
  border-width: 0.625rem;
  border-style: solid;
  border-color: transparent #4d4c82 transparent transparent;
}

.client-wrapper {
  position: relative;
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
}

.client-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.25rem;
  height: 100%;
  background: #4d4c82;
}

.nav-default {
  padding-top: 0.9375rem;
}

.nav-link {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  padding-right: 0.625rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  overflow: hidden;
  color: #a7a6cb;
}

.nav-link:link {
  color: #a7a6cb;
}

.nav-link:visited {
  color: #9796c1;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: #fff;
}

.nav-link:before {
  content: '';
  right: -1.875rem;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.nav-icon {
  position: relative;
  display: table-cell;
  padding-right: 0.625rem;
  vertical-align: middle;
}

.nav-title {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.client-content {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 11.25rem;
  background: #dbdbdb;
  overflow-y: scroll;
}

.client-content-header {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background: #fff;
}

.client-content-box {
  padding-top: 2.5rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.applicant-card {
  min-height: 17.5rem;
  margin-bottom: 1.5625rem;
  box-shadow: 0rem 0.0625rem 0.1875rem 0rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.applicant-header {
  height: 5.625rem;
  background: #545865;
}

.applicant-header::after {
  content: "";
  display: table;
  clear: both;
}

.applicant-body {
  padding: 1.875rem;
  padding-bottom: 0.9375rem;
}

.applicant-body::after {
  content: "";
  display: table;
  clear: both;
}

.applicant-footer {
  padding-top: 0.9375rem;
}

.applicant-title {
  display: table-cell;
  width: 100%;
  height: inherit;
  padding-left: 1.875rem;
  vertical-align: middle;
}

.applicant-title > span {
  margin-right: 0.625rem;
  font-size: 0.6875rem;
  color: #fff;
}

.applicant-title > span > i {
  color: #FF715A;
}

.applicant-name {
  margin-top: 0;
  margin-bottom: 0.1875rem;
  font-size: 1.125rem;
  color: #fff;
}

.applicant-options {
  display: table-cell;
  height: inherit;
}

.applicant-options > li {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}

.applicant-options > li > form {
  height: inherit;
}

.applicant-options-multiple {
  display: block;
  min-width: 6.25rem;
  font-size: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  white-space: nowrap;
  background: #363941;
}

.applicant-options-multiple:first-child:nth-last-child(1),
.applicant-options-multiple:first-child:nth-last-child(1) ~ .applicant-options-multiple {
  height: 5.625rem;
  line-height: 5.625rem;
}

.applicant-options-multiple:first-child:nth-last-child(2),
.applicant-options-multiple:first-child:nth-last-child(2) ~ .applicant-options-multiple {
  height: 2.8125rem;
  line-height: 2.8125rem;
}

.applicant-options-multiple:first-child:nth-last-child(3),
.applicant-options-multiple:first-child:nth-last-child(3) ~ .applicant-options-multiple {
  height: 1.875rem;
  line-height: 1.875rem;
}

.applicant-options-multiple:hover {
  background: #31343b;
  color: #FF715A;
  box-shadow: inset 0rem 0rem 0.1875rem 0.1875rem rgba(38, 40, 45, 0.3);
}

.applicant-options-multiple > i {
  margin-right: 0.1875rem;
}

.applicant-options-item {
  display: table-cell;
  height: inherit;
  width: 5rem;
  min-width: 5rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  font-size: 0.6875rem;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
}

.applicant-options-item > i {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}

.applicant-options > li:nth-last-child(1) .applicant-options-item {
  background: #3d4049;
}

.applicant-options > li:nth-last-child(2) .applicant-options-item {
  background: rgba(61, 64, 73, 0.85);
}

.applicant-options > li:nth-last-child(3) .applicant-options-item {
  background: rgba(61, 64, 73, 0.7);
}

.applicant-options > li:nth-last-child(4) .applicant-options-item {
  background: rgba(61, 64, 73, 0.55);
}

.applicant-options > li:nth-last-child(5) .applicant-options-item {
  background: rgba(61, 64, 73, 0.4);
}

.applicant-options > li:nth-last-child(6) .applicant-options-item {
  background: rgba(61, 64, 73, 0.25);
}

.applicant-options > li .applicant-options-item {
  color: #fff;
}

.applicant-options > li .applicant-options-item:hover {
  background: #31343b;
  color: #FF715A;
  box-shadow: inset 0rem 0rem 0.1875rem 0.1875rem rgba(38, 40, 45, 0.3);
}

.applicant-label {
  display: table-row;
  table-layout: fixed;
}

.applicant-label-title, .applicant-label-description {
  display: table-cell;
  margin-top: 0;
  margin-bottom: 0;
}

.applicant-label-title {
  font-size: 0.75rem;
  color: #3e3d68;
  font-weight: bold;
  text-transform: uppercase;
}

.applicant-label-description {
  padding-left: 0.625rem;
  padding-bottom: 0.9375rem;
  font-size: 0.875rem;
}


.logo-menu-mobile{
  position: absolute;
  left: 20px;
  display: none;
}

.is-open .logo-menu-mobile{
  display: block;
}